.chat-container {
  position: fixed;
  right: 15px;

  bottom: 15px;
}

.chat-icon {
  color: #17a2b8;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
}

.chat-box {
  width: 100%;
  max-width: 380px;
  height: 100%;
  max-height: 900px;
  background: white;
  border-radius: 5px;
  overflow: scroll;
  overflow-wrap: break-word;
}

.message-ul {
  margin-top: 1rem;
  padding-inline-end: 40px;
}
