.table-responsive,
.edit-user,
.container {
  margin-top: 2em;
}

.btn-info,
.product-back {
  margin-right: 5px;
}

.product-title {
  min-width: 130px;
}

.desc-container {
  max-height: 200px;
  overflow-y: -webkit-paged-y;
}

.admin-product-container::before {
  content: '';
  display: block;
  height: 40px;
}

.table-container {
  table-layout: flex;
}

.break-word {
  word-break: break-all;
}
