.navbar-form {
  flex-flow: nowrap;
  margin: 0 auto;
  max-width: 400px;
}

.form-container {
  display: flex;
  background-image: url('../../img/bg-img.png');
  width: 100%;
  height: 190px;
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
}

.navbar-brand {
  font-size: 1.7rem;
}

#logo {
  width: 60px;
  height: 60px;
}

.fa-search {
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f8f9fa;
}
