.search-container {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 0 auto;
}

.form-control,
.search-container > input {
  width: 100%;
  /* min-width: 100%; */
}

.results-parent {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}

.results-container {
  background: white;
}

.results:hover {
  background: #f8f9fa;
}

.result-item {
  display: flex;
  padding: 10px;
}

.result-item > img {
  height: 60px;
}

.result-title,
.result-price {
  font-size: 1.2rem;
  margin-left: 1rem;
  width: 100%;
}

.result-price {
  color: forestgreen;
}
